node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.*.local
.DS_Store
.idea/
.vscode/
.turbo/
eas-build/
coverage/
.sentry/
google-service-account.json
